APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzghKLDXhaprKSvG3MVyDCSwZmqA1rUwIrvyEnIP5ZvB38qUC4vunK4-RDPV_lRRtb1/exec
APPS_SCRIPT_SHARED_SECRET=replace-me
NOTIFICATION_EMAIL=naserabdalmoneim@gmail.com
